com/mango/sdk/translate-android/0.2.12/* -text
com/mango/sdk/translate-android/0.2.13/* -text
com/mango/sdk/translate-android/maven-metadata.xml* -text

com/mango/sdk/translate-android/0.2.14/* -text
com/mango/sdk/translate-android/0.2.16/* -text
